$colores:(
    colorFondoPrincipal:rgb(198,195,195),
    colorFondoCards:rgb(128,128,128),
    colorFondoHeader:rgb(0,0,0),
    colorFondoFooter:rgb(0,0,0),
    colorFondoButton:rgb(244,200,63),
    colorTextoButton:rgb(105,105,105),
    colorNombreEmpresa:rgb(255,255,255),
    
)